@tailwind base;
@tailwind components;
@tailwind utilities;
#print-area { display: block; }

@media print {
  .no-print { display: none !important; }
  body * { visibility: hidden; }
  #print-area, #print-area * { visibility: visible; }
  #print-area {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}