@tailwind base;
@tailwind components;
@tailwind utilities;
#print-area { display: block; }

@media print {
    .no-print { display: none !important; }
  body * { visibility: hidden; }
  #print-area, #print-area * { visibility: visible; }
    #print-area { position: fixed; top: 0; left: 0; width: 100%; text-align: center; }
}